@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    <address>
        c/o Jimmy Mjällby<br />
        Orionvägen 45<br />
        175 60 Järfälla<br />
        <abbr title="Mobil">P:</abbr>
        076-1044505
    </address>

    <address>
        <strong>Epost:</strong> <a href="mailto:jimmy@strictdesign.se">jimmy@strictdesign.se</a><br />
        <strong>Info:</strong> <a href="mailto:info@strictdesign.se">info@strictdesign.se</a>
    </address>
