@{
    ViewBag.Title = "StrictDesign Consulting AB";
}
<div id="center">
    <div>
        <img src="/Images/StrictDesignConsultingAB_web.png" width="400" height="200" alt="StrictDesign" />
    </div>
</div>